<div class="table-responsive">
    <div class="posts-list">
        <div>
            <h2 class="sub-header">Ustalar</h2>
            <div class="repairer-search-form">
                <input class="repairer-search-form-text" type="text" placeholder="Axtar">
                <input class="repairer-search-form-submit" type="submit" value="AXTAR">
                <p>Elanın İD nömrəsinə görə axtar</p>
            </div>
        </div>

        <table cellspacing="0" class="table table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Teniki ixtisas</td>
                    <td>Adı Soyadı</td>
                    <td>Ünavan</td>
                    <td>Tel</td>
                    <td>Yerləşdirmə tarixi</td>
                    <td>Redaktə et</td>
                    <td>Sil</td>
                </tr>
            </thead>

            <tbody id="repairers-item">
                {% for post in posts %}
                    <tr data-post-id="{{ post.repairer_id|e }}" class="post">
                        <td>{{ post.repairer_id|e }}</td>
                        <td>{{ post.profile|e }}</td>
                        <td>{{ post.full_name|e }}</td>
                        <td>{{ post.address|e }}</td>
                        <td>{{ post.contact_num|e }}</td>
                        <td>{{ post.date|e }}</td>
                        <td>
                            <button  type="button" class="preview-edit-post btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="delete-post btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <button id="add-post" type="submit" class="ol-btn-primary">ƏLAVƏ ET</button>
        </p>

        <nav>
            <ul class="pagination" id="pagination-repairer">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for i in 1..pagesCount %}
                    <li><a href="#">{{ i }}</a></li>
                {% endfor %}

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="page" class="add-post-field">
        <h2 class="sub-header">Post</h2>
        <form id="add-repairer-form" action="#" method="POST">
            <p><input class="form-control" type="text" placeholder="Texniki ixtisası" id="profile" name="profile" required></p>
            <p><input class="form-control" type="text" placeholder="Adı Soyadı" id="full_name" name="full_name" required></p>
            <p><input class="form-control" type="text" placeholder="Ünvanı" id="address" name="address" required></p>
            <p><input class="form-control" type="text" placeholder="Tel" id="contact_num" name="contact_num" required></p>

            <div class="col-sm-3">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="date" id="date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <button id="save-post" type="submit" class="ol-btn-primary">YADDA SAXLA</button>
                <button id="update-post"  type="submit" class="btn btn-primary">YENILƏ</button>
            </div>
        </form>
    </div>
</div>





