{% for post in posts %}
    <tr data-post-id="{{ post.repairer_id|e }}" class="post">
        <td>{{ post.repairer_id|e }}</td>
        <td>{{ post.profile|e }}</td>
        <td>{{ post.full_name|e }}</td>
        <td>{{ post.address|e }}</td>
        <td>{{ post.contact_num|e }}</td>
        <td>{{ post.date|e }}</td>
        <td>
            <button  type="button" class="preview-edit-post btn btn-warning btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
        <td>
            <button type="button" class="delete-post btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
{% endfor %}