<tr data-post-id="{{ data.repairer.repairer_id|e }}" class="post">
    <td>{{ data.repairer.repairer_id|e }}</td>
    <td>{{ data.repairer.profile|e }}</td>
    <td>{{ data.repairer.full_name|e }}</td>
    <td>{{ data.repairer.address|e }}</td>
    <td>{{ data.repairer.contact_num|e }}</td>
    <td>{{ data.repairer.date|e }}</td>
    <td>
        <button  type="button" class="preview-edit-post btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </td>
    <td>
        <button type="button" class="delete-post btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</tr>