
.wrap-declarations-form {
    width: 600px;
    padding: 5px;
    margin: 5px;
}

.wrap-declarations-form .form-group {
    width: 300px;
}

.declaration-moderation-label label {
    display: inline-block;
}

.declaration-moderation-label {
    padding: 10px 0;
}

.ol-btn {
    border-radius: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: #006dcc;
    border: none;
}

#add-declaration-form label.error {
    color: #f00;
}

#add-declaration-form label {
    font-weight: bold;
}

.declaration-search-form input[type="text"] {
    border-radius: 0;
    padding: 15px 5px;
    border: 1px solid #000;
    width: 200px;
    margin-bottom: 0;
}

.declaration-search-form input[type="submit"] {
    border: none;
    padding: 5px;
    margin-left: -5px;
    background: #5a5a5a;
    color: #fff;
    outline: 1px solid #000;
}

.declaration-search-form p {
    font-size: 12px;
    font-style: italic;
}

.glyphicon-ok:before {
    color: #006611;
    font-size: 20px;
}

.glyphicon-minus-sign:before {
    color: #7e1600;
    font-size: 20px;
}