
#add-repairer-form label.error {
    color: #f00;
}

.col-sm-3 {
    padding: 0;
}

.repairer-search-form input[type="text"] {
    border-radius: 0;
    padding: 15px 5px;
    border: 1px solid #000;
    width: 200px;
    margin-bottom: 0;
}

.repairer-search-form input[type="submit"] {
    border: none;
    padding: 5px;
    margin-left: -5px;
    background: #5a5a5a;
    color: #fff;
    outline: 1px solid #000;
}

.repairer-search-form p {
    font-size: 12px;
    font-style: italic;
}