.block-declaration {
    outline: 1px solid #ccc;
    margin: 5px 5px 15px 5px;
    padding: 5px;
}

.block-declaration h3 {
    padding: 10px;
    background: #ccc;
    font-weight: bold;
}

.block-param-declaration p span {
    font-weight: bold;
}

.add-declaration-item {
    background: #be181b;
    padding: 5px 10px;
    color: #f4f4f4;
    position: relative;
    right: -280px;
    top: 0;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.add-declaration-item:hover {
    opacity: 1;
    text-decoration: none;
    color: #f4f4f4;
}

.form-add-declaration {
    padding: 10px;
}

.form-add-declaration label {
    width: 100px;
    font-weight: bold;
}

.form-add-declaration input {
    width: 300px;
}

.form-add-declaration textarea {
    width: 400px;
}

#add-declaration-form label.error {
    color: #f00;
    width: 250px;
}

#send-declaration {
    width: 140px;
}